* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    
    background-color: rgba(22, 22, 194, 0.867);
    div#div_principal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div.planeta_e_cadastro {
            display: flex;
            flex-direction: row;
            
            span#planeta {
                font-size: 13vw;
                padding: 8px 0px 8px 8px;
            }
            p#logo_header {
                padding: 40px 0px;
                font-size: 5vw;
                font-weight: bolder;
            }
            span#login_person {
                padding: 16px 0px;
                font-size: 10vw;
            }
            p#cadastro_header {
                padding: 40px 0px;
                padding-right: 8px;
                font-size: 3vw;
                a {
                    text-decoration: none;
                    color: black;
                }
                a:hover {
                    text-decoration: underline;
                    font-weight: bolder;
                }
            }
        }
    }
    div.caixa_de_pesquisa {
        margin: auto;
        padding: 20px 0px;
        input {
            border-radius: 10px;
            font-size: 2.5vw;
            width: 50vw;
            padding: 5px;
        }
    }
}

main {
    
    section#buscando_aeroporto {
        h2 {
            text-align: center;
          }
        display: flex;
        flex-direction: column;
        
          div#escolher_pacote {
            margin: auto;
            padding: 20px 0px;
            p {
                padding: 10px 10px;
                text-align: justify;
                
                input {
                    width: 40vw;
                    border-radius: 5px;
                    padding: 3px;
                }
              }
              input#saida_do_aeroporto {
                margin-left: 20px;
              }
          }
          div#tempo_de_viagem {
            margin: auto;
            h3 {
                text-align: center;
              }
              div#inicio_e_fim {
                display: flex;
                p {
                    padding: 15px;
                    input {
                        border-radius: 5px;
                    }
                }
              }
            div#passageiros {
                input {
                    width: 5vw;
                    border-radius: 5px;
                }
                text-align: center;
            }
          }
      }
      
}

input {
    background-color: rgb(204, 204, 204);
}