@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

header {
  background-color: #487DD2;
}
header #nav-bar {
  display: flex;
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}
header #nav-bar img.globo {
  margin-top: 5rem;
  width: 30vw;
}
header #opt {
  height: 20vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}
header #opt #fav {
  width: 90px;
  height: 102.86px;
}
header #opt #login {
  width: 100px;
}
header #opt img {
  margin-top: 2rem;
}
header #opt p {
  padding-top: 2rem;
  padding-right: 2rem;
}
header #opt a {
  margin-right: 1rem;
  text-decoration: none;
  color: black;
}
header div {
  text-align: center;
  padding-bottom: 20px;
}
header div input {
  box-sizing: border-box;
  width: 50vw;
  height: 5vh;
  background: #BACEEE;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.container {
  display: flex;
  background: #BACEEE;
  width: 100%;
}
.container .carrossel {
  align-items: center;
  width: 50vw;
}
.container .carrossel h1 {
  margin-top: 1rem;
  align-items: center;
  margin-left: 30%;
}
.container .carrossel .destinos {
  margin-top: 1rem;
  margin-left: 2rem;
  overflow: hidden;
  height: 320px;
  width: 593px;
}
.container .carrossel .destinos .local {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}
.container .carrossel .destinos .local img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 320px;
  width: 593px;
}
.container .imgs {
  display: block;
  width: 50vw;
}
.container .imgs #firstimgs {
  display: flex;
  justify-content: space-around;
}
.container .imgs #firstimgs img {
  width: 186px;
  height: 180px;
}
.container .imgs #lastimgs {
  display: flex;
  justify-content: space-around;
}
.container .imgs #lastimgs img {
  width: 160px;
  height: 150px;
}
.container .produto {
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  font-size: 17px;
}

#buscando_aeroporto {
  height: 63vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
#buscando_aeroporto h2 {
  text-align: center;
}
#buscando_aeroporto .azul-claro {
  background-color: #BACEEE;
}
#buscando_aeroporto #escolher_pacote {
  margin: auto;
  padding: 20px 0px;
}
#buscando_aeroporto #escolher_pacote p {
  padding: 10px 10px;
  text-align: justify;
}
#buscando_aeroporto #escolher_pacote p input {
  width: 40vw;
  border-radius: 5px;
  padding: 3px;
}
#buscando_aeroporto #escolher_pacote input#saida_do_aeroporto {
  margin-left: 20px;
}
#buscando_aeroporto #tempo_de_viagem {
  margin: auto;
}
#buscando_aeroporto #tempo_de_viagem h3 {
  text-align: center;
}
#buscando_aeroporto #tempo_de_viagem #inicio_e_fim {
  display: flex;
}
#buscando_aeroporto #tempo_de_viagem #inicio_e_fim p {
  padding: 15px;
}
#buscando_aeroporto #tempo_de_viagem #inicio_e_fim p input {
  border-radius: 5px;
}
#buscando_aeroporto #tempo_de_viagem div#passageiros {
  text-align: center;
}
#buscando_aeroporto #tempo_de_viagem div#passageiros input {
  width: 5vw;
  border-radius: 5px;
}

@media only screen and (max-width: 1205px) {
  header {
    display: flex;
    flex-direction: column;
  }
  header div#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
  }
  header div#nav-bar div#opt {
    width: 10vw;
  }
  header div {
    margin: auto;
    padding-bottom: 10px;
  }
  header div input {
    box-sizing: border-box;
    width: 50vw;
    height: 5vh;
    background: #BACEEE;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
  }
  main .container {
    display: none;
  }
  main #buscando_aeroporto div#buscar {
    padding-top: 20px;
    text-align: center;
  }
  main #buscando_aeroporto div#buscar input {
    width: 13vw;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    background-color: #487DD2;
    color: white;
    padding: 5px;
  }
  main #promocao h1 {
    text-align: center;
    padding-bottom: 20px;
  }
  main #promocao div {
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  main #promocao div .promocoes {
    border: 2px solid black;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
  }
  main #promocao div .promocoes img {
    padding-bottom: 10px;
  }
  main #promocao div .promocoes input {
    background-color: rgba(242, 5, 5, 0.3254901961);
    border-radius: 15px;
    width: 70%;
    margin: auto;
    box-shadow: 0.5px 0.5px #000000;
  }
  main #promocao div .promocoes h4 {
    text-align: center;
    padding: 10px;
  }
  main #promocao div .promocoes p {
    text-align: center;
    padding: 3px;
    color: grey;
  }
  main #promocao div .promocoes p strong {
    color: black;
  }
}/*# sourceMappingURL=style.css.map */