@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
}

header {
  background-color: #487DD2;
}
header #nav-bar {
  display: flex;
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}
header #nav-bar img.globo {
  margin-top: 5rem;
  width: 30vw;
}
header #opt {
  height: 20vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}
header #opt #fav {
  width: 90px;
  height: 102.86px;
}
header #opt #login {
  width: 100px;
}
header #opt img {
  margin-top: 2rem;
}
header #opt p {
  padding-top: 2rem;
  padding-right: 2rem;
}
header #opt a {
  margin-right: 1rem;
  text-decoration: none;
  color: black;
}
header div {
  text-align: center;
  padding-bottom: 20px;
}
header div input {
  box-sizing: border-box;
  width: 614px;
  height: 47px;
  background: #BACEEE;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.container {
  display: flex;
  background: #BACEEE;
  width: 100%;
}
.container .carrossel {
  align-items: center;
  width: 50vw;
}
.container .carrossel h1 {
  margin-top: 1rem;
  align-items: center;
  margin-left: 30%;
}
.container .carrossel .destinos {
  margin-top: 1rem;
  margin-left: 2rem;
  overflow: hidden;
  height: 280px;
  width: 593px;
}
.container .carrossel .destinos .local {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}
.container .carrossel .destinos .local img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 280px;
  width: 593px;
}
.container .imgs {
  display: block;
  width: 50vw;
}
.container .imgs #firstimgs {
  display: flex;
  justify-content: space-around;
}
.container .imgs #firstimgs img {
  width: 186px;
  height: 180px;
}
.container .imgs #lastimgs {
  display: flex;
  justify-content: space-around;
}
.container .imgs #lastimgs img {
  width: 160px;
  height: 150px;
}
.container .produto {
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  font-size: 17px;
}

#buscando_aeroporto {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 1rem;
  box-sizing: border-box;
  height: 200px;
  border: 2px solid #000000;
  border-radius: 12px;
  background-color: #487DD2;
  width: 95%;
}
#buscando_aeroporto h2 {
  margin-top: 1rem;
  margin-left: 1rem;
  text-align: left;
}
#buscando_aeroporto .azul-claro {
  background-color: #BACEEE;
}
#buscando_aeroporto #escolher_pacote {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
#buscando_aeroporto #escolher_pacote p {
  font-size: 20px;
  margin-top: 10px;
  text-align: justify;
}
#buscando_aeroporto #escolher_pacote p input {
  background: #BACEEE;
  width: 174px;
  height: 30px;
  border: 2px solid #000000;
  border-radius: 7px;
}
#buscando_aeroporto #buscar input {
  margin-top: 2rem;
  margin-left: 83.5%;
  font-size: 18px;
  color: white;
  width: 164px;
  height: 41px;
  background: #487DD2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

@media only screen and (max-width: 1205px) {
  header {
    display: flex;
    flex-direction: column;
  }
  header div#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
  }
  header div#nav-bar div#opt {
    width: 10vw;
  }
  header div {
    margin: auto;
    padding-bottom: 10px;
  }
  header div input {
    box-sizing: border-box;
    width: 50vw;
    height: 5vh;
    background: #BACEEE;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
  }
  main .container {
    display: none;
  }
  main #buscando_aeroporto {
    border: none;
    border-radius: none;
    background-color: white;
  }
  main #buscando_aeroporto h2 {
    display: block;
  }
  main #buscando_aeroporto #fake {
    display: block;
  }
  main #buscando_aeroporto .azul-claro {
    background-color: #BACEEE;
  }
  main #buscando_aeroporto #escolher_pacote {
    display: block;
    margin: auto;
    height: 100px;
  }
  main #buscando_aeroporto #escolher_pacote p {
    text-align: justify;
  }
  main #buscando_aeroporto #escolher_pacote p input {
    width: 40vw;
    border-radius: 5px;
    padding: 3px;
  }
  main #buscando_aeroporto #buscar input {
    margin-top: 200px;
    margin-left: 30%;
  }
  main #promocao {
    margin-top: 150px;
  }
  main #promocao h1 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
  }
  main #promocao div {
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  main #promocao div .promocoes {
    border: 2px solid black;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
  }
  main #promocao div .promocoes img {
    padding-bottom: 10px;
  }
  main #promocao div .promocoes input {
    background-color: rgba(242, 5, 5, 0.3254901961);
    border-radius: 15px;
    width: 70%;
    margin: auto;
    box-shadow: 0.5px 0.5px #000000;
  }
  main #promocao div .promocoes h4 {
    text-align: center;
    padding: 10px;
  }
  main #promocao div .promocoes p {
    text-align: center;
    padding: 3px;
    color: grey;
  }
  main #promocao div .promocoes p strong {
    color: black;
  }
  main #passagens_aereas {
    display: flex;
    flex-direction: column;
  }
  main #passagens_aereas h1 {
    text-align: center;
    padding-top: 10px;
  }
  main #passagens_aereas h4 {
    text-align: center;
    color: grey;
  }
  main #passagens_aereas h4 strong {
    color: black;
  }
  main #passagens_aereas p {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  main #passagens_aereas p input#nacional {
    background-color: #BACEEE;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: #000000;
    padding: 2px;
  }
  main #passagens_aereas p input#internacional {
    padding: 2px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: grey;
    border: 1px solid #487DD2;
  }
  main #passagens_aereas div {
    display: flex;
    border: 2px solid black;
    width: 50vw;
    height: 12vh;
    border-radius: 23px;
    margin: auto;
    margin-bottom: 10px;
  }
  main #passagens_aereas div img {
    width: 30vw;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
  }
  main #passagens_aereas div p {
    flex-direction: column;
    padding: 8px;
    font-size: 3vw;
  }
  main #passagens_aereas #destinos {
    margin: auto;
    background-color: white;
    color: #487DD2;
    border-radius: 15px;
    border: 1px solid #487DD2;
    width: 40vw;
    padding: 6px;
  }
  main #hospedagem {
    display: flex;
    flex-direction: column;
  }
  main #hospedagem h1 {
    text-align: center;
    padding: 20px 0;
  }
  main #hospedagem #hoteis {
    background-color: white;
    color: #487DD2;
    border-radius: 15px;
    border: 1px solid #487DD2;
    width: 40vw;
    padding: 6px;
    margin: auto;
  }
  main #hospedagem div {
    display: flex;
    border: 2px solid black;
    width: 50vw;
    border-radius: 23px;
    margin: auto;
    margin-bottom: 10px;
  }
  main #hospedagem div img {
    width: 30vw;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
  }
  main #hospedagem div p {
    flex-direction: column;
    padding-left: 8px;
    font-size: 3vw;
  }
  main #news_letter {
    padding-top: 25px;
  }
  main #news_letter div {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid black;
    border-radius: 15px;
  }
  main #news_letter div p {
    text-align: center;
    padding-top: 10px;
  }
  main #news_letter div input.cadastro {
    background-color: #BACEEE;
    margin-bottom: 10px;
    border-radius: 15px;
    width: 40vw;
  }
  main #news_letter div p#assinatura {
    display: flex;
    justify-content: end;
  }
  main #news_letter div p#assinatura input#assine {
    background-color: #BACEEE;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
  }
}/*# sourceMappingURL=style.css.map */