@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*
{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}


header {
    background-color: #487DD2;
    #nav-bar 
    {
    display: flex;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;

    img.globo
    {
        margin-top: 5rem;
        width: 30vw;
    }
}

#opt
{
    height: 20vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    #fav
    {
        width: 90px;
        height: 102.86px;
    }
    #login
    {
        width: 100px; 
    }
    img {
        margin-top: 2rem;

    }
    p {
        padding-top: 2rem;
        padding-right: 2rem;
    }
    a{
        margin-right: 1rem;
        text-decoration: none;
        color: black;
    }
}

div {
    text-align: center;
    padding-bottom: 20px;
    input
    {
        box-sizing: border-box;
        width: 614px;
        height: 47px;
        background: #BACEEE;
        border: 2px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
    }
}
}
.container
{
    display: flex;
    background: #BACEEE;
    width: 100%; 
    .carrossel
    {
        align-items: center;
        width: 50vw;
        h1
        {
            margin-top: 1rem;
            align-items: center;
            margin-left: 30%;
        }
        .destinos
        {
            margin-top: 1rem;
            margin-left: 2rem;
            overflow: hidden;
            height: 280px;
            width: 593px;
            .local
            {
                display: flex;
                transition: transform 0.5s ease-in-out;
                transform: translateX(0);
                img
                {
                    object-fit: cover;
                    height:280px;
                    width: 593px;
                }
            }
        }
     
    }
    .imgs
    {
        display: block;
        width: 50vw;
        #firstimgs
        {
            display: flex;
            justify-content: space-around;
            img{
                width: 186px;
                height: 180px;
            }
        }
        #lastimgs
        {
            display: flex;
            justify-content: space-around;
            img{
                width: 160px;
                height: 150px;
            }
        }
    }
    .produto
    {
        display: flex;
        flex-direction: column;
        color: black;
        align-items: center;
        font-size: 17px;
    }  
}
#buscando_aeroporto 
{       
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 1rem;
        box-sizing: border-box;
        height: 200px;
        border: 2px solid #000000;
        border-radius: 12px;
        background-color: #487DD2;;
        width: 95%;
        h2 
        {
            margin-top: 1rem;
            margin-left: 1rem;
            text-align: left;
        }
        .azul-claro 
        {
            background-color: #BACEEE;
        }
        #escolher_pacote 
        {
            display: flex;
            justify-content: space-evenly;
            margin: auto;
            p 
            {
                font-size: 20px;
                margin-top: 10px;
                text-align: justify;
                input 
                {
                    background: #BACEEE;
                    width: 174px;
                    height: 30px;
                    border: 2px solid #000000;
                    border-radius: 7px;
                }
            }
        }
          #buscar
            {
                input{
                    margin-top: 2rem;
                    margin-left: 83.5%;
                    font-size: 18px;
                    color:white;
                    width: 164px;
                    height: 41px;
                    background: #487DD2;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 12px;
                }
            }
}







@media only screen and (max-width: 1205px) 
{
    header{
        display: flex;
        flex-direction: column;
        
        div#nav-bar {
            display: flex;
            flex-direction: row;
            justify-content: baseline;
            align-items: center;
            div#opt {
                width: 10vw;
            }
        }
        div {
            margin: auto;
            padding-bottom: 10px;
            input
            {
                box-sizing: border-box;
                width: 50vw;
                height: 5vh;
                background: #BACEEE;
                border: 2px solid #000000;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 12px;
            }
        }
    }
    main 
    {
        .container {
            display: none;
        }
        #buscando_aeroporto 
        {
            border: none;
            border-radius: none;
            background-color: white;
            h2 
            {
                display: block;
            }
            #fake
            {
                display: block;
            }
            .azul-claro {
                background-color: #BACEEE;
            }
            #escolher_pacote 
            {
                display: block;
                margin: auto;
                height: 100px;
                p 
                {
                    text-align: justify;
                    input 
                    {
                        width: 40vw;
                        border-radius: 5px;
                        padding: 3px;
                    }
                }
        }
        #buscar
        {
            input
            {
                margin-top:200px;
                margin-left: 30%;
            }
        }
      }

        #promocao {
            margin-top: 150px;
            h1 {
                text-align: center;
                padding-bottom: 20px;
                padding-top: 30px;
            }
            div {
                display: flex;
                flex-direction: row;
                margin: auto;

                .promocoes {
                    border: 2px solid black;
                    border-radius: 17px;
                    display: flex;
                    flex-direction: column;
                    img {
                        padding-bottom: 10px;
                    }
                    input {
                        background-color: #f2050553;
                        border-radius: 15px;
                        width: 70%;
                        margin: auto;
                        box-shadow: 0.5px 0.5px#000000;
                    }
                    h4 {
                        text-align: center;
                        padding: 10px;
                    }
                    p {
                        text-align: center;
                        padding: 3px;
                        color: grey;
                        strong {
                            color: black;
                        }
                    }
                }
            }
        }
        #passagens_aereas {
            display: flex;
            flex-direction: column;
            h1 {
                text-align: center;
                padding-top: 10px;
            }
            h4 {
                strong {
                    color: black;
                }
                text-align: center;
                color: grey;
            }
            p {
                display: flex;
                justify-content: center;
                padding-top: 20px;
                padding-bottom: 20px;
                input#nacional {
                    background-color: #BACEEE;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                    color: #000000;
                    padding: 2px;
                }
                input#internacional {
                    padding: 2px;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    color: grey;
                    border: 1px solid #487DD2;
                }
            }
            div {
                display: flex;
                border: 2px solid black;
                width: 50vw;
                height: 12vh;
                border-radius: 23px;
                margin: auto;
                margin-bottom: 10px;
                img {
                    width: 30vw;
                    border-top-left-radius: 18px;
                    border-bottom-left-radius: 18px;

                }
                p {
                    flex-direction: column;
                    padding: 8px;
                    font-size: 3vw;
                }
            }
            #destinos {
                margin: auto;
                background-color: white;
                color: #487DD2;
                border-radius: 15px;
                border: 1px solid #487DD2;
                width: 40vw;
                padding: 6px;
            }

        }
        #hospedagem {
            display: flex;
            flex-direction: column;
            h1 {
                text-align: center;
                padding: 20px 0;
            }
            #hoteis {
                background-color: white;
                color: #487DD2;
                border-radius: 15px;
                border: 1px solid #487DD2;
                width: 40vw;
                padding: 6px;
                margin: auto;
            }
            div {
                display: flex;
                border: 2px solid black;
                width: 50vw;
                border-radius: 23px;
                margin: auto;
                margin-bottom: 10px;
                img {
                    width: 30vw;
                    border-top-left-radius: 18px;
                    border-bottom-left-radius: 18px;
                }
                p {
                    flex-direction: column;
                    padding-left: 8px;
                    font-size: 3vw;
                }
            }
        }
        #news_letter {
            padding-top: 25px;
            div {
                margin: auto;
                display: flex;
                flex-direction: column;
                width: 50%;
                border: 1px solid black;
                border-radius: 15px;
                p {
                    text-align: center;
                    padding-top: 10px;
                }
                input.cadastro {
                    background-color: #BACEEE;
                    margin-bottom: 10px;
                    border-radius: 15px;
                    width: 40vw;
                }
                
                p#assinatura {
                    display: flex;
                    justify-content: end;
                    input#assine {
                        background-color: #BACEEE;
                        margin-right: 20px;
                        margin-bottom: 20px;
                        border-radius: 15px;
                    }
                }
            }
        }
    }
}

